/* Berke Ozten*/
header {
    height: 100px;
    width: 100%;
    background-color: aquamarine;
    padding: 5px 0px;
    font-size: 2em;
}

footer {
    clear: both;
    height: 40px;
    width: 100%;
    background-color: aquamarine;
    padding: 5px 0px;
    font-size: 1.5em;
}

nav {
    background-color: beige;
    width: 100%;
    min-height: 40px;
    text-align: center;
    padding: 5px 0px;
}

article {
    float: left;
    background-color: burlywood;
    width: 80%;
    padding: 5px 0px;
}

article>section {
    float: left;
    border: 3px dotted red;
    margin: 5px;
    padding: 2px 5px;
}

aside {
    float: right;
    width: 20%;
    background-color: indianred;
    height: auto;
    padding: 4px;
}

article::after {
    clear: left;
    content: "";
    display: table;
}

.row-article-aside {
    display: flex;
}


/* =========================
   Mobile Styles: 0 to 480px 
   =========================
*/

@media only screen and (max-width: 480px) {
    article {
        width: 100%;
    }
    aside {
        display: none;
    }
    article>section {
        background-color: rgb(99, 43, 43);
        color: beige;
    }
}


/* =========================
   Tablet Styles: 480 to 600px 
   =========================
*/

@media only screen and (min-width: 481px) and (max-width: 767px) {
    nav {
        display: flex;
        flex-flow: row nowrap;
    }
    nav>div {
        flex: 1 1 auto;
        padding: 10px;
    }
    article>section {
        background-color: yellow;
    }
}


/* ============================================
    Desktop Styles: 768px and greater 
    ============================================
 */

@media only screen and (min-width: 768px) {
    nav {
        display: flex;
        flex-flow: row nowrap;
    }
    nav>div {
        flex: 1 1 auto;
        padding: 10px;
    }
    article>section {
        background-color: yellowgreen;
    }
}